<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Anthologies</title>
</head>
<body>
Actualizando: #<span th:text="${workshopToActualizar.id}">Id</span>
<form action="#" th:action="@{/actualizar/{id}(id=${workshopToActualizar.id})}" th:object="${workshopToActualizar}" method="post">
    
    <label for="name">Nombre</label>
    <input type="text" th:field="*{name}" id="name">
    
    <label for="text">Autor</label>
    <input type="text" th:field="*{autor}" id="autor">
        
     
     <label for="text">Objetivo</label>
     <input type="text" th:field="*{objetivo}" id="objetivo"> 
     
     <label for="text">Categoría</label>
     <input type="text" th:field="*{categoria}" id="categoria"> 
     
     <label for="text">Duración</label>
     <input type="text" th:field="*{tiempoDuracion}" id="tiempoDuracion"> 
     
     <input type="submit" value="Save Workshop">
</form>

</body>
</html>